* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html,body {
  height: 100%;
  width: 100%;
}
.heading{
    /* height ya width me se jo jyada hoga wo occupy karega */
    /* font-size: 1rem; */
    font-size: 26px;
}
.container{
    min-height: 100%;
    /* min height occupy the space accordig to the child inside it */
    width: 100%;
    background-color: lightseagreen;
    padding: 20px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: palevioletred;
    border: 2px solid white;

}
h1{
    background-color: aquamarine;
    width: fit-content;
    padding: 5px;
    white-space: nowrap;
    /* display: inline-block; */
    /* it stop the h tags to wrap by default */
}
p{
    font-size: clamp(1rem, 4vw, 3rem)
    /* display: inline-block; */
}
span{
    background-color: palevioletred;
}
a{
    background-color: aqua;
    /* here trasforn not worked because this is inline block */
    transform: rotate(10deg);
}
/* div{
    display: inline-block;
    transform: rotate(10deg);
} */
