/*************************************** Downloaded Font */
@font-face {
    font-family: 'reckless';
    src: url(./Assets/reckless.woff);
}
@font-face {
    font-family: 'midnight bold';
    src: url(./Assets/midnight\ medium.otf);
}
@font-face {
    font-family: 'midnight medium';
    src: url(./Assets/midnight\ semibold.otf);
}
@font-face{
    font-family: 'figtree';
    src: url(./Assets/figtree.woff2);
}

/**************************************** CSS Varaible */
:root{
    --primary-blue: #2a2857;
    --reckless-font: 'reckless';
    --midnight-m-font: 'midnight medium';
    --midnight-b-font: 'midnight bold';
    --figtree-font: 'figtree';
}

/*********************************** Universal CSS Applied */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  width: 100%;
}
main{
    background-color: #FBF9EB;
    /* height: 150vh; */
    /* width: 100%; */
}
.btn{
    padding: 1rem 4rem;
    border-radius: 2rem;
    border: none;
}

/********************************** Mobile first desing  */

/********************** Nav Bar */
header{
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    /* width: 100%; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 100%; */
    padding: 0.5rem 2rem ;
    font-family: var(--reckless-font);
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFEFB;
    
}
.nav-left{
    display: flex;
    gap: 1rem;
    width: 33vw;
    
}
.nav-center img{
    height: 2.5rem;
}
.nav-left a{
    font-size: 1.3rem;
}
.nav-right{
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1rem;
    width: 33vw;
    justify-content: end;
}
.nav-right a{
    font-size: 0.8rem;
}
nav i{
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
}
a{
    text-decoration: none;
    color: black;
    display: none;
}

/*********************** Section 1 */
.sec1{
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/matcha_mobile.png?v=1779455800&width=511);
    background-position: center;
    background-size: cover;
    height: 90vh;
    border-bottom: 1px solid black;
    
}
.hero-text{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1.5rem;
    text-align: center;
    padding: 1.2rem;
    padding-top: 15rem;
}
.hero-text h1{
    /* font-size: clamp(3.5rem, 3vw, 8rem); */
    font-size: 4rem;
    font-family: var(--reckless-font);
    font-weight: 300;
}
.hero-text p{
    font-size: 1.2rem;
    font-weight: var(--figtree-font);
    font-weight: 400;
}
.hero-text button{
    font-size: 1.1rem;
    background-color: var(--primary-blue);
    color: white;
}




/***************************** For Laptop Media Quaries */
@media (min-width: 900px) {
    /* Nav Bar */
    nav a{
        display: block;
    }
    .nav-left i{
        display: none;
    }
    /* Section 1 */
    .sec1{
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/cere-memorial_matcha_wide.png?v=1779304660&width=1280);
    background-position: center;
    background-size: cover;
    }
    .hero-text{
        align-items: start;
        text-align: start;
        max-width: 40vw;
    }
}
